rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if request.auth.uid != null;
      allow create;
      allow update: if request.auth.uid == userId;
      allow delete: if request.auth.uid == userId;
    
      match /recipes/{recipesId} {
        allow read,write: if request.auth.uid == userId;
      }

      match /calendar/{calendarId} {
        allow read,write: if request.auth.uid == userId;
      }

      match /ingredients/{ingredientsId} {
        allow read,write: if request.auth.uid == userId;
      }
    }
    match /bot/{botId} {
      allow read: if request.auth.uid != null;
      allow create;
      allow update: if request.auth.uid == userId;
      allow delete: if request.auth.uid == userId;
    }
  }
}