@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.uc-fadein {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.uc-bg-orange {
  background-color: #d35c37;
}

.uc-bg-blue {
  background-color: #97b8c2;
}

.uc-text-orange {
  color: #d35c37;
}
.uc-text-blue {
  color: #97b8c2;
}
