@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.uc-fadein {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.uc-bg-gray {
  background-color: #eae2d6;
}

.uc-bg-beige {
  background-color: #d5c3aa;
}

.uc-bg-brown {
  background-color: #867666;
}

.uc-bg-yellow {
  background-color: #e1b80d;
}

.uc-text-gray {
  color: #eae2d6;
}

.uc-text-beige {
  color: #d5c3aa;
}

.uc-text-brown {
  color: #867666;
}

.uc-text-yellow {
  color: #e1b80d;
}
